<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Basic Banking ltd</title>

  <link rel="stylesheet" href="../Css/homepage.css">
  <link rel="stylesheet" href="../Css/Navbar.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>
</head>

<body>

  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">My Bank</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav my-2 my-lg-2">

          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/CreateAccount">Create Account</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/Sender">Make Payment</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/Reciepts">Transaction History</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>


  <div class="container-fluid maindiv">
    <div class="subdiv row">
      <div class="col-md-12 offset-lg-0 col-lg-6 textdiv">
        <div class="text offset-lg-3 col-lg-8">
          <h1>Online Banking made easier...</h1> <br>
          <p>Fastest platform to faciliate all your transactions smoothly to help your businesses.</p> <br>
          <form action="/Sender" method="GET">
            <button type="submit">Make Transaction</button>
          </form>
        </div>
        <footer class="offset-lg-2 col-lg-10">
          <div class="container-fluid">
            &#169; Desgined and developed by <span> Lakshit Kothari </span>for <span> GRIP internship July 2021
            </span>
          </div>
        </footer>
      </div>

      <div class="col-md-12 offset-lg-0 col-lg-6 img">
        <img src="../Images/creditcard.svg" alt="">
      </div>
    </div>

  </div>

</body>

</html>